.row-product {
  display: flex;
}
img {
  max-width: 100%;
  align-items: center;
}
.product {
  background-color: lightgray;
  border-radius: 5%;
  margin: 10px 4px;
}
.boton {
  background-color: darkcyan;
  border-radius: 10px;
}
