@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: crimson;
  --color-secundario: #ec2f4b;
  --blanco: #fff;
  --text: #333;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
